@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link href="~/css/vuemodal.css" rel="stylesheet" />
<div id="carts">
    <div class="mt-5">
        <div class="card">
            <div class="card-title text-center mt-3">
                <h3>Past Ordered</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <th class="text-center">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr href="#" v-for="cart in carts" v-on:click="cartForModal=cart;loadAndShowModal();">
                            <td>{{cart.id}}</td>
                            <td>{{formatDate(cart.orderDate)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <modal v-if="showModal" v-on:close="showModal = false" :cart="cartForModal" :details="detailsForModal"></modal>
</div>
<script src="~/js/cartlist.js"></script>
<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <button type="button" class="close" style="font-size:xx-large;" v-on:click="$emit('close')">
                        X
                    </button>
                    <div class="text-center" style="font-size:larger;">
                        <h3>Order:{{cart.id}}</h3>
                        {{formatDate(cart.orderDate)}}<p></p>
                        <img src="../images/cart.png" style="height:60px;width:60px;margin:10px;" />
                        <ul class="list-group vuerow">
                            <li class="list-group-item vuerow" style="background-color:lightgray;">
                                <span class="vuecol20 text-center">Name</span>
                                <span class="vuecol20 text-center">MSRP</span>
                                <span class="vuecol20 text-center">QtyS</span>
                                <span class="vuecol20 text-center">QtyO</span>
                                <span class="vuecol20 text-center">QtyB</span>
                                <span class="vuecol20 text-center">Extended</span>
                            </li>
                            <li v-for="detail in details" class="list-group-item vuerow">
                                <span class="vuecol20 text-center">{{detail.name}}</span>
                                <span class="vuecol20 text-center">{{detail.msrp | toCurrency}}</span>
                                <span class="vuecol20 text-center">{{detail.qty}}</span>
                                <span class="vuecol20 text-center">{{detail.qtyO}}</span>
                                <span class="vuecol20 text-center">{{detail.qtyB}}</span>
                                <span class="vuecol20 text-center">{{detail.qty * detail.msrp | toCurrency}}</span>
                            </li>
                        </ul>
                        <div v-if="details[0]" class="text-right">
                            <div class="vuerow">
                                <div class="vuecol80">Sub:</div>
                                <div class="vuecol20 pr-2">{{details[0].orderAmount | toCurrency}}</div>
                            </div>
                            <div class="vuerow">
                                <div class="vuecol80">Tax:</div>
                                <div class="vuecol20 pr-2">{{details[0].orderAmount *0.13 | toCurrency}}</div>
                            </div>
                            <div class="vuerow">
                                <div class="vuecol80">Total:</div>
                                <div class="vuecol20 pr-2">{{details[0].orderAmount* 1.13 | toCurrency}}</div>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

