@model BrandViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h4>Brand</h4>
    <br />
    <form asp-controller="Product" asp-action="Index" method="post">
        <select asp-for="Id" asp-items="@Model.GetBrands()" class="form-group form-control" onchange="this.form.submit();">
            <option selected style="display:none;">Select Brand</option>
        </select>
    </form>
</div>
